@import "tailwindcss";

@theme {
    --color-border: #dedede;
    --color-border-soft: #cfcfcf;
    --color-border-dashed: #cccccc;
    --color-surface-muted: #f6f6f6;
    --color-text-muted: #666666;
    --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;

    --color-accent: #8cc084;
    --color-accent-soft: #c1d7ae;
}

body {
    font-family: var(--font-sans);
}

button,
input,
select,
textarea {
    font-family: inherit;
}